<template>
  <section class="section">
    <div class="container">
      <h2 class="title">Providers</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Authentication type</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(provider, host) in providers" :key="host">
            <td>{{ host }}</td>
            <td>{{ provider.type }}</td>
            <template v-if="provider.type == 'SAML'">
              <td v-if="provider.token !== undefined">Logged in</td>
              <td v-else>
                <a
                  class="button"
                  :href="`https://${host}/saml/login?returnUrl=${currentUrl}?provider=${encodeURIComponent(
                    host
                  )}`"
                  >Log in</a
                >
              </td>
            </template>
            <td v-else></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="mt-5">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Provider</label>
          </div>
          <div class="field-body">
            <div class="field is-block">
              <div class="control is-expanded">
                <div class="select">
                  <select v-model="request.provider">
                    <option disabled value="">Select provider</option>
                    <option
                      v-for="(provider, host) in providers"
                      :key="'r' + host"
                    >
                      {{ host }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Resource</label>
          </div>
          <div class="field-body">
            <div class="field is-block">
              <div class="control is-expanded">
                <input class="input" type="text" v-model="request.resource" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button
                  :disabled="loading"
                  class="button is-primary"
                  v-on:click="requestDataset()"
                >
                  Request
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <div class="level">
      <div class="level-left mb-4">
        <button
          :disabled="loading"
          class="button is-primary"
          v-on:click="requestLocationTypes()"
        >
          Retrieve location types
        </button>
      </div>
      <div class="field level-right">
        <div class="control">
          <input
            class="input is-primary"
            type="text"
            v-model="filter"
            placeholder="Filter locations"
          />
        </div>
      </div>
    </div>
      <table v-if="type === 'locationtypes'" class="table is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Access level</th>
            <th>Get locations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in result" :key="entry.id">
            <td>{{ entry.name }}</td>
            <td>{{ entry.accessRight.name }}</td>
            <td>
              <button
                class="button is-info"
                v-on:click="requestLocationsByType(entry.id)"
                :disabled="loading"
              >
                Get locations
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <table v-if="type === 'locations'" class="table is-fullwidth">
        <thead>
          <tr>
            <th v-on:click="(sort == 'name') ? sort = 'namereserve' : sort = 'name'" style='cursor: pointer'>Name</th>
            <th v-on:click="(sort == 'surfacereverse') ? sort = 'surface' : sort = 'surfacereverse'" style='cursor: pointer'>Total surface area</th>
            <th>Get children locations</th>
            <th>Get measurements</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in locations.slice((page-1)*pagesize, page*pagesize)" :key="entry.id">
            <template v-if="entry.totalSurfaceArea > 1">
            <td>{{ entry.name }}</td>
            <td>{{ Math.round(entry.totalSurfaceArea) }} km<sup>2</sup></td>
            <td>
              <button
                v-if="entry.locationType.name !== 'postalRange'"
                class="button is-info"
                v-on:click="requestLocationsByParent(entry.id)"
                :disabled="loading"
              >
                Get locations
              </button>
            </td>
            <td v-if="measurements[entry.id] === undefined">
              <button
                class="button is-info"
                v-on:click="requestMeasurementsById(entry.id)"
                :disabled="loading"
              >
                Get measurements
              </button>
            </td>
            <td v-else>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control" v-for="measurement in measurements[entry.id]" :key="measurement.id">
                  <div class="tags has-addons">
                    <span class="tag is-link" v-if="measurement.type.name === 'GAS_SJV_AVERAGE'">m<sup>3</sup></span>
                    <span class="tag is-warning" v-else-if="measurement.type.name === 'ELK_SJV_AVERAGE'">kWh</span>
                    <span class="tag is-warning is-light" v-if="measurement.type.name === 'ELK_SJV_LOW_TARIF_PERC'">kWh (low)</span>
                    <span class="tag is-dark">{{ Math.round(measurement.value) }}</span>
                  </div>
                </div>
              </div>
            </td>
            </template>
          </tr>
        </tbody>
      </table>
      <nav v-if="type === 'locations'" class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" v-on:click="page = Math.max(page-1, 1)">Previous</a>
        <a class="pagination-next" v-on:click="page = Math.min(page+1, numpages)">Next</a>
        <ul class="pagination-list">
          <template v-for="p in numpages">
            <li v-bind:key="p" v-if="p == 1 || p == numpages || Math.abs(p-page) < 4">
            <a
              class="pagination-link"
              :class="{'is-current': p == page}"
              v-on:click="page = p"
              :aria-label="'Goto page ' + p"
            >{{ p }}</a>
            </li>
            <li v-bind:key="p" v-if="Math.abs(p-page) == 4">
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
          </template>
          <!-- <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>-->
        </ul>
      </nav>
    </div>
    <div
      id="warning-modal"
      class="modal"
      :class="{ 'is-active': warning !== undefined }"
    >
      <div class="modal-background" v-on:click="removeWarning()"></div>
      <div class="modal-content">
        <article class="message is-danger">
          <div class="message-header">
            <p>Error message</p>
            <button
              class="delete"
              aria-label="delete"
              v-on:click="removeWarning()"
            ></button>
          </div>
          <div class="message-body">
            {{ warning }}
          </div>
        </article>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        v-on:click="removeWarning()"
      ></button>
    </div>
  </section>
</template>

<script>
// import ProgressCircle from "easy-circular-progress";
import axios from "axios";

export default {
  name: "EnergyConsumption",
  data() {
    return {
      loading: false,
      request: {
        provider: "",
        resource: "ResourceA",
      },
      httpClient: axios.create({
        baseURL: "/",
        // baseURL: "https://researcher.ios.ia2ai.nl/",
        timeout: 30000,
      }),
      result: "",
      currentUrl: "",
      providers: {},
      warning: undefined,
      type: "",
      measurements: {},
      pagesize: 10,
      page: 1,
      filter: "",
      sort: "surfacereverse"
    };
  },
  computed: {
    locations: function () {
      if (this.type !== "locations") {
        return []
      } else {
        return this.result.filter(location => location.totalSurfaceArea > 1 && location.name.toLowerCase().includes(this.filter.toLowerCase())).sort(this.compare)
      }
    },
    numpages: function () {
      return Math.ceil(this.locations.length / this.pagesize);
    }
  },
  created: async function () {
    const providers = await this.httpClient.get("providers");
    this.providers = providers.data;
    this.currentUrl = encodeURIComponent(window.location.href.split(/[?#]/)[0]);
  },
  methods: {
    compare: function (a, b) {
      switch(this.sort) {
        case "name": return a.name.localeCompare(b.name)
        case "namereverse": return b.name.localeCompare(a.name)
        case "surface": return a.totalSurfaceArea - b.totalSurfaceArea
        case "surfacereverse": return b.totalSurfaceArea - a.totalSurfaceArea
      } 
    },
    getBagProvider: function () {
      return Object.keys(this.providers).filter((provider) =>
        provider.toLowerCase().includes("bag")
      )[0];
    },
    getGridProvider: function () {
      return Object.keys(this.providers).filter((provider) =>
        provider.toLowerCase().includes("grid")
      )[0];
    },
    removeWarning: function () {
      this.warning = undefined;
    },
    requestDataset: async function () {
      await this.requestData(this.request.provider, this.request.resource);
    },
    requestLocationTypes: async function () {
      // this.type = "";
      await this.requestData(
        this.getBagProvider(),
        "/data-endpoint/locations/locationtypes"
      );
      this.filter = "";
      this.type = "locationtypes";
    },
    requestLocationsByType: async function (id) {
      // this.type = "";
      await this.requestData(
        this.getBagProvider(),
        `/data-endpoint/locations/locationtypes/${id}`
      );
      this.filter = "";
      this.type = "locations";
    },
    requestLocationsByParent: async function (id) {
      // this.type = "";
      await this.requestData(
        this.getBagProvider(),
        `/data-endpoint/locations/${id}/children`
      );
      this.filter = "";
      this.type = "locations";
    },
    requestMeasurementsById: async function (id) {
      await this.requestMeasurements(
        this.getGridProvider(),
        `/data-endpoint/locations/${id}/measurements`,
        id
      );
    },
    requestData: async function (provider, resource) {
      this.loading = true;
      try {
        const result = await this.httpClient.get("data", {
          params: {
            provider: provider,
            resource: resource,
          },
        });
        this.result = result.data;
        this.loading = false;
      } catch (e) {
        if (e.response) {
          console.log("Data call error:");
          console.log(e);
          this.warning = e.response.data;
          this.loading = false;
        } else {
          this.warning = "Unknown error!";
          this.loading = false;
        }
      }
    },
    requestMeasurements: async function (provider, resource, id) {
      this.loading = true;
      try {
        const result = await this.httpClient.get("data", {
          params: {
            provider: provider,
            resource: resource,
          },
        });
        this.measurements[id] = result.data;
        this.loading = false;
      } catch (e) {
        if (e.response) {
          console.log("Data call error:");
          console.log(e);
          this.warning = e.response.data;
          this.loading = false;
        } else {
          this.warning = "Unknown error!";
          this.loading = false;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pointer {
  cursor: pointer;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style lang="scss" scoped>
.b-checkbox {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  text-align: left;

  label {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 1px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background-color: #fff;
      transition: background 0.1s ease-in-out;
    }

    &::after {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 3px;
      top: 3px;
      font-size: 12px;
      color: #363636;
    }
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    // &[type="checkbox"]:focus + label::before, &[type="radio"]:focus + label::before {
    // outline: thin dotted;
    // outline: 5px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
    // }

    &[type="checkbox"]:checked + label::after,
    &[type="radio"]:checked + label::after {
      content: "\f00c";
    }

    &[type="checkbox"]:disabled,
    &[type="radio"]:disabled {
      cursor: not-allowed;
    }

    &[type="checkbox"]:disabled + label,
    &[type="radio"]:disabled + label {
      opacity: 0.65;
    }

    &[type="checkbox"]:disabled + label::before,
    &[type="radio"]:disabled + label::before {
      background-color: whitesmoke;
      cursor: not-allowed;
    }
  }

  &.is-circular label::before {
    border-radius: 50%;
  }

  &.is-inline {
    display: inline-block;
    font-weight: normal;

    + .is-inline {
      margin-left: 10px;
    }
  }
}

.is-primary input[type="checkbox"]:checked + label {
  &::before {
    background-color: #00d1b2;
    border-color: #00d1b2;
  }

  &::after {
    color: #fff;
  }
}

.is-danger input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ff3860;
    border-color: #ff3860;
  }

  &::after {
    color: #fff;
  }
}

.is-info input[type="checkbox"]:checked + label {
  &::before {
    background-color: #3273dc;
    border-color: #3273dc;
  }

  &::after {
    color: #fff;
  }
}

.is-warning input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ffdd57;
    border-color: #ffdd57;
  }

  &::after {
    color: #fff;
  }
}

.is-success input[type="checkbox"]:checked + label {
  &::before {
    background-color: #23d160;
    border-color: #23d160;
  }

  &::after {
    color: #fff;
  }
}

.is-dark input[type="checkbox"]:checked + label {
  &::before {
    background-color: #363636;
    border-color: #363636;
  }

  &::after {
    color: #fff;
  }
}

.is-black input[type="checkbox"]:checked + label {
  &::before {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
  }

  &::after {
    color: #fff;
  }
}

input[type="checkbox"] {
  &.styled:checked + label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
  }

  .styled:checked + label {
    &::before,
    &::after {
      color: #fff;
    }
  }
}
</style>